.li{
    line-height: 150%;
    color:  #f4eeed;
    font-family: "Segoe UI";
    font-size: 22px;

}

.ulList{
    column-count: 2;
    list-style: none;
    padding: 0;
    margin: 0;
}
.divContailerUl{
    display: flex;
    justify-content: center;
}