.divContainer{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas con igual ancho */
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
    width: 80%;

    @media screen and (max-width: 758px) {
        grid-template-columns: 80%;
        width: 80%;
        margin: 0 auto; 
        margin-top: 20px; 
        margin-bottom: 20px;
    }
}

