.divContainer{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas con igual ancho */
    gap: 20px;
    justify-items: center;
    margin: 0 15px;

    @media screen and (max-width: 758px) {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 80%;
        margin: 0 10%;
    }
}

