.divContainer{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas con igual ancho */
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-bottom: 25px;

    @media screen and (max-width: 758px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        grid-template-columns: 80%;
        width: 80%;
    }
}

