.divFather{
    background-color: #121d2a;
}

.p{
    line-height: 150%;
    color:  #f4eeed;
    font-family: "Segoe UI";
    font-size: 22px;
    padding-left: 34px;
    padding-right: 34px;
}

.hr{
    width: 80%;
    background-color: black;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
}



.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI";
    color:  #f4eeed;
    font-size: 36px;
}


.imgCertficado{
    display: flex;
    width: 500px;
    height: 500px;
    object-fit: contain;
}
.divContainerCerteficado{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5px;

}