.imgProject{
  
    object-fit: contain;
    width: 80%;
    max-height: 250px; 
    object-fit: contain;
    margin-bottom: 10px; 

}
.divCard{
    display: flex;
    flex-direction: column;
    background-color: #124250;
    padding: 20px;
    color: white;
}

.p{
    line-height: 150%;
    color:  #f4eeed;
    font-family: "Segoe UI";
    font-size: 22px;
    padding-left: 34px;
    padding-right: 34px;
}