.h4icons{
    width: 60px;
    height: 50px;
    color:  #f4eeed;
}
.divContainer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding: 20px;

}


.a{

}
.h5{
    font-family: "Segoe UI";
    color:  #f4eeed;
    font-size: 22px;

}